@{
    ViewBag.PageName = "Show - afisarea unui articol";
}

<h2>@ViewBag.PageName</h2>
<br />

@* nu mai facem foreach, pentru ca avem un singur articol *@

<h1>Article.Title</h1>
<p>Article.Content</p>
<small>Article.Date</small>

<br />
<br />
<hr />


<a href="/Articles/Index">Afisare articole</a>
