@{
    ViewData["Title"] = "Home Page";
}

<h2>Afisare articole</h2>
<br />

@foreach (var article in ViewBag.Articles)
{
    <p>@article.Title</p>
    <p>@article.Content</p>
    <p>@article.Date</p>

    <br />
    <a class="btn btn-success" href="/Articles/Show/@article.Id">Afisare articol</a>
    <br /><br />
    <a class="btn btn-info" href="/Articles/Edit/@article.Id">Editare articol</a>
    <hr />
}

<a href="/Articles/New" class="btn btn-success">Adaugare articol</a>
<br />
<br />
<a href="/Categories/Index" class="btn btn-secondary">Afisare categorii</a>