<div class="card">

    <div class="card-body">

        <h3 class="card-title alert-success py-3 px-3 rounded-2">@Model.Title</h3>

        <div class="card-text">@Model.Content</div>

        <div class="d-flex justify-content-between flex-row mt-5">

            <div><i class="bi bi-globe"></i> @Model.Category.CategoryName</div>

            @* <a class="btn btn-success" href="/Articles/Show/@Model.Id">Afisare articol</a> *@

            <span class="alert-success px-1 align-content-center">@Model.Date</span>

        </div>

    </div>

</div>